{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex" style="margin-top:24px">
        <h3>&nbsp;Events:&nbsp;</h3>
        {% if user.is_authenticated %}
        <button type="button" class="close" data-toggle="modal" data-target="#createEventModal" style="padding:0px">
            <span aria-hidden="true">+</span>
        </button>
        {% endif %}
    </div>
{% if events|length > 0 %}
    <div class="container">
    {% for i in range(events|length // 3 + (0 if events|length % 3 == 0 else 1)) %}
    <div class="row" style="margin-top:8px; margin-bottom:8px">
        {% for j in range(3) %}
        {% if i*3+j < events|length %}
        <div class="col-md-4 h-100">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{events[i*3+j].title}}</h5>
              <p class="card-text">{{events[i*3+j].body}}</p>
              <p class="card-text">
                Hosted by: {{get_host(events[i*3+j].id).username}}<br>
                Time: {{epoch_to_datetime(events[i*3+j].time)}}<br>
                Location: {{events[i*3+j].location}}<br>
                Price: ${{"{:.2f}".format(events[i*3+j].price_fee)}}<br>
                Rating: {{events[i*3+j].get_rating()}}/5.0 - {{ events[i*3+j].ratings|length }} total ratings<br>
                Subscribed users: {{events[i*3+j].subscribed_users|length}}<br>
                Posted on: {{epoch_to_datetime(events[i*3+j].time_stamp)}}<br>
                Last updated on: {{epoch_to_datetime(events[i*3+j].updates[-1].time_stamp if events[i*3+j].updates|length > 0 else events[i*3+j].time_stamp)}}</p>
            <a class="btn btn-secondary w-100" href="/event?id={{events[i*3+j].id}}">View Event</a>
            </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% else %}
&nbsp;&nbsp;No events found
{% endif %}
</div>

<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEventModalLabel">Create Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/event", method="POST">
        <div class="modal-body">
            <input type="hidden" name="c_event" value="True">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Enter title">
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea class="form-control" name="body" rows="3" placeholder="Enter body"></textarea>
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input type="datetime-local" class="form-control" name="time" placeholder="Enter time">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" name="location" placeholder="Enter location">
            </div>
            <div class="form-group">
              <label for="contact-info">Contact Info</label>
              <input type="text" class="form-control" name="contact" placeholder="Enter contact info">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" name="price" placeholder="Enter price">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}